## [Start] Setting "status" to default value of "PENDING". **
$util.qr($context.args.input.put("status", $util.defaultIfNull($ctx.args.input.status, "PENDING")))
## [End] Setting "status" to default value of "PENDING". **
{}