## [Start] Setting "accessLevel" to default value of "0". **
$util.qr($context.args.input.put("accessLevel", $util.defaultIfNull($ctx.args.input.accessLevel, 0)))
## [End] Setting "accessLevel" to default value of "0". **
## [Start] Setting "isEnabled" to default value of "true". **
$util.qr($context.args.input.put("isEnabled", $util.defaultIfNull($ctx.args.input.isEnabled, true)))
## [End] Setting "isEnabled" to default value of "true". **
{}