## [Start] Setting "discount" to default value of "0". **
$util.qr($context.args.input.put("discount", $util.defaultIfNull($ctx.args.input.discount, 0)))
## [End] Setting "discount" to default value of "0". **
## [Start] Setting "discountType" to default value of "0". **
$util.qr($context.args.input.put("discountType", $util.defaultIfNull($ctx.args.input.discountType, 0)))
## [End] Setting "discountType" to default value of "0". **
## [Start] Setting "serviceType" to default value of "0". **
$util.qr($context.args.input.put("serviceType", $util.defaultIfNull($ctx.args.input.serviceType, 0)))
## [End] Setting "serviceType" to default value of "0". **
{}