## [Start] Set the primary key. **
$util.qr($ctx.stash.metadata.put("modelObjectKey", {
  "documentTypeId": $util.dynamodb.toDynamoDB($ctx.args.documentTypeId),
  "warehouseId#year": $util.dynamodb.toDynamoDB("${ctx.args.warehouseId}#${ctx.args.year}")
}))
## [End] Set the primary key. **
{}