## [Start] Set the primary key. **
$util.qr($ctx.stash.metadata.put("modelObjectKey", {
  "customerDiscountId": $util.dynamodb.toDynamoDB($ctx.args.customerDiscountId)
}))
## [End] Set the primary key. **
{}