## [Start] Setting "type" to default value of "0". **
$util.qr($context.args.input.put("type", $util.defaultIfNull($ctx.args.input.type, 0)))
## [End] Setting "type" to default value of "0". **
## [Start] Setting "value" to default value of "0". **
$util.qr($context.args.input.put("value", $util.defaultIfNull($ctx.args.input.value, 0)))
## [End] Setting "value" to default value of "0". **
{}