## [Start] Setting "isFixed" to default value of "false". **
$util.qr($context.args.input.put("isFixed", $util.defaultIfNull($ctx.args.input.isFixed, false)))
## [End] Setting "isFixed" to default value of "false". **
## [Start] Setting "isTaxOnTotal" to default value of "false". **
$util.qr($context.args.input.put("isTaxOnTotal", $util.defaultIfNull($ctx.args.input.isTaxOnTotal, false)))
## [End] Setting "isTaxOnTotal" to default value of "false". **
## [Start] Setting "isEnabled" to default value of "true". **
$util.qr($context.args.input.put("isEnabled", $util.defaultIfNull($ctx.args.input.isEnabled, true)))
## [End] Setting "isEnabled" to default value of "true". **
{}