## [Start] Set the primary key. **
$util.qr($ctx.stash.metadata.put("modelObjectKey", {
  "productId": $util.dynamodb.toDynamoDB($ctx.args.productId),
  "value": $util.dynamodb.toDynamoDB($ctx.args.value)
}))
## [End] Set the primary key. **
{}