## [Start] Setting "stockDirection" to default value of "0". **
$util.qr($context.args.input.put("stockDirection", $util.defaultIfNull($ctx.args.input.stockDirection, 0)))
## [End] Setting "stockDirection" to default value of "0". **
## [Start] Setting "editorType" to default value of "0". **
$util.qr($context.args.input.put("editorType", $util.defaultIfNull($ctx.args.input.editorType, 0)))
## [End] Setting "editorType" to default value of "0". **
## [Start] Setting "priceType" to default value of "0". **
$util.qr($context.args.input.put("priceType", $util.defaultIfNull($ctx.args.input.priceType, 0)))
## [End] Setting "priceType" to default value of "0". **
{}