## [Start] Setting "startingCashType" to default value of "0". **
$util.qr($context.args.input.put("startingCashType", $util.defaultIfNull($ctx.args.input.startingCashType, 0)))
## [End] Setting "startingCashType" to default value of "0". **
{}