## [Start] Set the primary key. **
$util.qr($ctx.stash.metadata.put("modelObjectKey", {
  "posOrderId": $util.dynamodb.toDynamoDB($ctx.args.posOrderId),
  "productId": $util.dynamodb.toDynamoDB($ctx.args.productId)
}))
## [End] Set the primary key. **
{}