## [Start] Setting "isActive" to default value of "true". **
$util.qr($context.args.input.put("isActive", $util.defaultIfNull($ctx.args.input.isActive, true)))
## [End] Setting "isActive" to default value of "true". **
{}