## [Start] Set the primary key. **
$util.qr($ctx.stash.metadata.put("modelObjectKey", {
  "idDocumentCategory": $util.dynamodb.toDynamoDB($ctx.args.idDocumentCategory)
}))
## [End] Set the primary key. **
{}